USE [LDH]
GO
/****** Object:  Table [dbo].[Biz_Admin]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_Admin](
	[Id] [int] NOT NULL,
	[UserName] [varchar](45) NOT NULL,
	[Password] [varchar](45) NOT NULL,
	[Create_Time] [datetime] NULL,
	[Create_By] [varchar](255) NULL,
	[Update_Time] [datetime] NULL,
	[Update_By] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biz_Collect]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_Collect](
	[Id] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
	[Type] [tinyint] NOT NULL,
	[Song_Id] [int] NULL,
	[Song_List_Id] [int] NULL,
	[Create_Time] [datetime] NULL,
	[Create_By] [varchar](255) NULL,
	[Update_Time] [datetime] NULL,
	[Update_By] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biz_Comment]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_Comment](
	[Id] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
	[Song_Id] [int] NULL,
	[Song_List_Id] [int] NULL,
	[Content] [varchar](255) NULL,
	[Type] [tinyint] NOT NULL,
	[Up] [int] NOT NULL,
	[Create_Time] [datetime] NULL,
	[Create_By] [varchar](255) NULL,
	[Update_Time] [datetime] NULL,
	[Update_By] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biz_Consumer]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_Consumer](
	[Id] [int] NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Sex] [tinyint] NULL,
	[Phone_Num] [char](15) NULL,
	[Email] [char](30) NULL,
	[Birth] [datetime] NULL,
	[Introduction] [varchar](255) NULL,
	[Location] [varchar](45) NULL,
	[Avator] [varchar](255) NULL,
	[Create_Time] [datetime] NULL,
	[Create_By] [varchar](255) NULL,
	[Update_Time] [datetime] NULL,
	[Update_By] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biz_List_Song]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_List_Song](
	[Id] [int] NOT NULL,
	[Song_Id] [int] NOT NULL,
	[Song_List_Id] [int] NOT NULL,
	[Create_Time] [datetime] NULL,
	[Create_By] [varchar](255) NULL,
	[Update_Time] [datetime] NULL,
	[Update_By] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biz_Rank_List]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_Rank_List](
	[Id] [bigint] NOT NULL,
	[SongListId] [bigint] NOT NULL,
	[ConsumerId] [bigint] NOT NULL,
	[Score] [int] NOT NULL,
	[Create_Time] [datetime] NULL,
	[Create_By] [varchar](255) NULL,
	[Update_Time] [datetime] NULL,
	[Update_By] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biz_Singer]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_Singer](
	[Id] [int] NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Sex] [tinyint] NULL,
	[Pic] [varchar](255) NULL,
	[Birth] [datetime] NULL,
	[Location] [varchar](45) NULL,
	[Introduction] [varchar](255) NULL,
	[Create_Time] [datetime] NULL,
	[Create_By] [varchar](255) NULL,
	[Update_Time] [datetime] NULL,
	[Update_By] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biz_Song]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_Song](
	[Id] [int] NOT NULL,
	[Singer_Id] [int] NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Introduction] [varchar](255) NULL,
	[Pic] [varchar](255) NULL,
	[Lyric] [text] NULL,
	[Url] [varchar](255) NOT NULL,
	[Create_By] [varchar](50) NULL,
	[Create_Time] [datetime] NOT NULL,
	[Update_By] [varchar](50) NULL,
	[Update_Time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biz_Song_List]    Script Date: 2024/1/17 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biz_Song_List](
	[Id] [int] NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Pic] [varchar](255) NULL,
	[Introduction] [text] NULL,
	[Style] [varchar](10) NULL,
	[Create_Time] [datetime] NULL,
	[Create_By] [varchar](50) NULL,
	[Update_Time] [datetime] NULL,
	[Update_By] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Biz_Admin] ([Id], [UserName], [Password], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (1, N'admin', N'123', CAST(N'2022-11-21T17:33:47.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Admin] ([Id], [UserName], [Password], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (2, N'admin1', N'565', CAST(N'2022-11-21T17:33:47.000' AS DateTime), N'admin', NULL, NULL)
GO
INSERT [dbo].[Biz_Collect] ([Id], [User_Id], [Type], [Song_Id], [Song_List_Id], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (4, 94, 0, 23, NULL, CAST(N'2019-01-07T16:41:44.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Collect] ([Id], [User_Id], [Type], [Song_Id], [Song_List_Id], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (10, 94, 0, 3, NULL, CAST(N'2019-01-07T16:58:59.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Collect] ([Id], [User_Id], [Type], [Song_Id], [Song_List_Id], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (16, 94, 0, 24, NULL, CAST(N'2019-01-07T17:34:07.000' AS DateTime), N'admin', NULL, NULL)
GO
INSERT [dbo].[Biz_Comment] ([Id], [User_Id], [Song_Id], [Song_List_Id], [Content], [Type], [Up], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (3, 1, 0, 1, N'里面乱乱糟糟\n我们别再闹了\n这个冬天已然很冷了\n我们靠在一起。好吗', 1, 8, CAST(N'2022-04-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Comment] ([Id], [User_Id], [Song_Id], [Song_List_Id], [Content], [Type], [Up], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (5, 1, 21, NULL, N'允儿牵动我的心!!!', 0, 0, CAST(N'2022-04-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Comment] ([Id], [User_Id], [Song_Id], [Song_List_Id], [Content], [Type], [Up], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (9, 1, 22, NULL, N'林允儿这个人，饭她真的很骄傲。韩国人说汉语总会带着地域性极强的泡菜味，可是林允儿真的很用心在把准每一个汉字，从咬字到发音，再加上轻柔干净的嗓音加持，将柔美与舒缓表达到极致，将歌里想诉说的那种感情娓娓道来。', 0, 0, CAST(N'2022-04-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
GO
INSERT [dbo].[Biz_Consumer] ([Id], [UserName], [Password], [Sex], [Phone_Num], [Email], [Birth], [Introduction], [Location], [Avator], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (1, N'user', N'123', 0, N'13776412237    ', N'yoona@qq.com                  ', CAST(N'2019-05-21T00:00:00.000' AS DateTime), N'好好吃饭', N'山西', N'/img/avatorImages/1650216352562L1.jpg', CAST(N'2019-01-04T21:42:24.000' AS DateTime), NULL, CAST(N'2022-04-18T01:19:12.000' AS DateTime), NULL)
INSERT [dbo].[Biz_Consumer] ([Id], [UserName], [Password], [Sex], [Phone_Num], [Email], [Birth], [Introduction], [Location], [Avator], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (2, N'012', N'012', 0, N'13754803255    ', N'love@gmail.com                ', CAST(N'2019-04-24T00:00:00.000' AS DateTime), N'我就喜欢吃', N'北京', N'/img/avatorImages/1649527868607author.jpg', CAST(N'2019-01-05T15:02:45.000' AS DateTime), NULL, CAST(N'2020-03-23T01:24:59.000' AS DateTime), NULL)
INSERT [dbo].[Biz_Consumer] ([Id], [UserName], [Password], [Sex], [Phone_Num], [Email], [Birth], [Introduction], [Location], [Avator], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (5, N'789', N'789', 0, N'13634377258    ', N'666@126.com                   ', CAST(N'2019-01-08T00:00:00.000' AS DateTime), N'今天很开心啊', N'山西', N'/img/avatorImages/1646506637695IMG_4801.jpg', CAST(N'2019-01-07T16:16:42.000' AS DateTime), NULL, CAST(N'2022-04-10T01:59:13.000' AS DateTime), NULL)
GO
INSERT [dbo].[Biz_List_Song] ([Id], [Song_Id], [Song_List_Id], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (1, 36, 1, CAST(N'2022-11-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_List_Song] ([Id], [Song_Id], [Song_List_Id], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (4, 7, 2, CAST(N'2022-11-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_List_Song] ([Id], [Song_Id], [Song_List_Id], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (5, 11, 2, CAST(N'2022-11-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
GO
INSERT [dbo].[Biz_Rank_List] ([Id], [SongListId], [ConsumerId], [Score], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (1, 2, 1, 7, CAST(N'2022-11-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Rank_List] ([Id], [SongListId], [ConsumerId], [Score], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (2, 2, 2, 3, CAST(N'2022-11-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Rank_List] ([Id], [SongListId], [ConsumerId], [Score], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (3, 1, 1, 4, CAST(N'2022-11-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
GO
INSERT [dbo].[Biz_Singer] ([Id], [Name], [Sex], [Pic], [Birth], [Location], [Introduction], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (8, N'Ennio Morricone', 1, N'/img/singerPic/Morricone.jpg', CAST(N'1928-11-10T00:00:00.000' AS DateTime), N'意大利', N'埃尼欧·莫里科内，意大利作曲家，生于罗马，曾为超过500部的电影电视写过配乐。2007年他获得奥斯卡终身成就奖，成为第二位获此殊荣的作曲家。他获得两次格莱美奖，两次金球奖，五次英国电影和电视艺术学院奖等多项音乐奖项。', CAST(N'2022-11-21T21:37:06.000' AS DateTime), N'admin', NULL, NULL)
GO
INSERT [dbo].[Biz_Song_List] ([Id], [Title], [Pic], [Introduction], [Style], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (2, N'华语', N'/img/songListPic/df03f1d383a14f4c9a9215d0c18e1ebc.jpg', N'那些喜欢到会循环播放的歌', N'流行', CAST(N'2022-11-25T16:37:06.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Song_List] ([Id], [Title], [Pic], [Introduction], [Style], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (3, N'希望十八岁你爱的人是八十岁在你身边的人', N'/img/songListPic/q0ZyCw22PCiTG2LX_A2kew==_109951163594989759.jpg', N'让你怦然心动', N'华语', CAST(N'2022-11-25T16:37:06.000' AS DateTime), N'admin', NULL, NULL)
INSERT [dbo].[Biz_Song_List] ([Id], [Title], [Pic], [Introduction], [Style], [Create_Time], [Create_By], [Update_Time], [Update_By]) VALUES (4, N'你的青春里有没有属于你的一首歌？', N'/img/songListPic/109951163271025942.jpg', N'关于青春里的那首歌，唱的是你和谁的回忆呢？那年你们有什么故事？\n\n总是有许多的记忆，是关于青春的。\n\n青春时埋下的那份躁动，总会在多年后，装饰着笑容。\n\n总是有许多的遗憾，是关于青春的。\n\n青春时还没来得及表达的情感，总会在多年以后，偶尔的左右着悲欢。\n\n那些最美年华里的相遇，那些青春里的不知所措，都被勾勒成了一幅幅画。\n\n而这些画，只在心情最愉悦时，只在心情最低落时，悄悄的，在内心深处闪过。', N'华语', CAST(N'2022-11-25T16:37:06.000' AS DateTime), N'admin', NULL, NULL)
GO
ALTER TABLE [dbo].[Biz_Admin] ADD  DEFAULT (NULL) FOR [Create_Time]
GO
ALTER TABLE [dbo].[Biz_Admin] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_Admin] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_Admin] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[Biz_Collect] ADD  DEFAULT (NULL) FOR [Create_Time]
GO
ALTER TABLE [dbo].[Biz_Collect] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_Collect] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_Collect] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[Biz_Comment] ADD  DEFAULT (NULL) FOR [Content]
GO
ALTER TABLE [dbo].[Biz_Comment] ADD  DEFAULT (NULL) FOR [Create_Time]
GO
ALTER TABLE [dbo].[Biz_Comment] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_Comment] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_Comment] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Sex]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Phone_Num]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Email]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Birth]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Introduction]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Location]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Avator]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Create_Time]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_Consumer] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[Biz_List_Song] ADD  DEFAULT (NULL) FOR [Create_Time]
GO
ALTER TABLE [dbo].[Biz_List_Song] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_List_Song] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_List_Song] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[Biz_Rank_List] ADD  DEFAULT (NULL) FOR [Create_Time]
GO
ALTER TABLE [dbo].[Biz_Rank_List] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_Rank_List] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_Rank_List] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Sex]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Pic]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Birth]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Location]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Introduction]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Create_Time]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_Singer] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[Biz_Song] ADD  DEFAULT (NULL) FOR [Introduction]
GO
ALTER TABLE [dbo].[Biz_Song] ADD  DEFAULT (NULL) FOR [Pic]
GO
ALTER TABLE [dbo].[Biz_Song] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_Song] ADD  DEFAULT (NULL) FOR [Update_By]
GO
ALTER TABLE [dbo].[Biz_Song] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_Song_List] ADD  DEFAULT (NULL) FOR [Pic]
GO
ALTER TABLE [dbo].[Biz_Song_List] ADD  DEFAULT (NULL) FOR [Introduction]
GO
ALTER TABLE [dbo].[Biz_Song_List] ADD  DEFAULT ('无') FOR [Style]
GO
ALTER TABLE [dbo].[Biz_Song_List] ADD  DEFAULT (NULL) FOR [Create_Time]
GO
ALTER TABLE [dbo].[Biz_Song_List] ADD  DEFAULT (NULL) FOR [Create_By]
GO
ALTER TABLE [dbo].[Biz_Song_List] ADD  DEFAULT (NULL) FOR [Update_Time]
GO
ALTER TABLE [dbo].[Biz_Song_List] ADD  DEFAULT (NULL) FOR [Update_By]
GO
